@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align: center
  margin-left auto
  margin-right auto
  border: 5px dotted red
  width: 40%
  background-color: black;

div.slot
	display: inline
	margin: 20px
	border: 5px solid red
	padding: 15px
	color: red
	background: silver



.title
	margin: 30px 30px 30px 30px
	color: red;
	display: block

.titleSpace
	border: 5px solid red
	margin: 50px 60px 50px 60px
	align: center
	background: silver



.button
	font-size: 24px
	margin-top: 40px
	margin-bottom: 40px
